DEBUG=True

# Deployment SERVER address
SERVER=real-estate-prediction-app

# For MySql Persistence
DB_ENGINE=mysql
DB_NAME=real_estate_prediction_db
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=real_estate_prediction_db_usr
DB_PASS=<STRONG_PASS>
