[Unit]
Description=SimpleScrapingServiceController
After=docker.service

[Service]
WorkingDirectory=/home/scraping-control/RealEstateWebScraper/ScrapingService
ExecStart=/home/scraping-control/RealEstateWebScraper/ScrapingService/start.sh
User=scraping-control
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
