{% load static %}

<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <div class="ms-3 mb-1" style="width: 25px; height: 25px;">
        <a href="/">
            <img class="img-fluid" src="{% static 'logo.png' %}" alt="Price Predictor">
        </a>
    </div>
    <a class="navbar-brand ms-2" href="/">Price Predictor</a>
    <div class="ms-auto">
        <button class="btn btn-link btn-sm me-2 d-flex align-items-center justify-content-center sb-sidenav-dark"
                id="sidebarToggle" href="#!">
            <i class="fas fa-bars fa-lg"></i>
        </button>
    </div>
</nav>

